<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353036121892-5cgirhg5kifmjo5e1pu4b7gffv3behl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353036121892-5cgirhg5kifmjo5e1pu4b7gffv3behl5</string>
	<key>API_KEY</key>
	<string>AIzaSyDyVLA5_QgQYQVSRhLPVOMgyHsc-1nvme0</string>
	<key>GCM_SENDER_ID</key>
	<string>353036121892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>my-app-8etnzk</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-8etnzk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353036121892:ios:fa2d18c417bbe6098c25b1</string>
</dict>
</plist>